/*@import "material/buttons.scss";*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500i,700&display=swap");
html {
  font-family: "Montserrat", Verdana, sans-serif;
  min-height: 100vh;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333333; }

.main {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  margin-top: 300px; }
  @media (min-width: 37.5em) {
    .main {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .main {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .main {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .main {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .main {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .main {
      padding-right: 2.5rem; } }

.menu__controller {
  display: none; }
  .menu__controller--main:checked + .menu {
    transition-delay: 0s;
    transform: translateX(0); }
    .menu__controller--main:checked + .menu > .menu__container {
      transform: translateX(0); }
    .menu__controller--main:checked + .menu > .menu__background {
      opacity: 1; }
  .menu__controller--secondary:checked + .menu__content.menu__content--secondary {
    transform: translateX(0%);
    z-index: 20; }
  .menu__controller--secondary:checked ~ .menu__content.menu__content--main {
    transform: translateX(-100%); }
  .menu__controller--secondary:checked ~ .menu__controller:checked + .menu__content.menu__content--secondary {
    transform: translateX(-100%);
    z-index: 10; }

.menu {
  z-index: 1000;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition-property: transform;
  transition-duration: 0s;
  transition-delay: 500ms; }

.menu__background {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-delay: 0s; }

.menu__container {
  z-index: 20;
  top: 0;
  left: 0;
  position: absolute;
  width: 15.625rem;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  transform: translateX(-100%);
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12);
  transition-property: transform;
  transition-duration: 500ms;
  transition-delay: 0s; }

.menu__content {
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  /*transition: transform 500ms;*/ }
  .menu__content--secondary {
    transform: translateX(100%); }

.menu__content__wrapper {
  display: block;
  height: 100%;
  width: 31.25rem;
  overflow: auto;
  padding-top: 2.5rem; }

.menu__item {
  display: block;
  position: relative;
  width: 15.625rem;
  text-decoration: none;
  line-height: 1;
  color: #333333;
  background-color: #ffffff;
  font-size: 1.125rem;
  padding: 0.61em 3em 0.61em 1em;
  cursor: pointer; }
  .menu__item--submenu::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    content: "\2192"; }
  .menu__item--header {
    padding: 0;
    height: 2.5rem;
    padding: 0 3em 0 1em;
    display: flex;
    justify-content: flex-end;
    background-color: #6db52c;
    color: #ffffff;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    cursor: initial;
    position: absolute;
    top: 0;
    left: 0; }

.menu__breadcrumb {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.menu__trigger {
  position: absolute;
  right: 1em;
  display: inline-block;
  cursor: pointer;
  margin-left: auto; }
  .menu__trigger--close::after {
    content: "\2716"; }
  .menu__trigger--back::after {
    content: "\2190"; }

.hamburger {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.hamburger__line {
  display: block;
  background-color: #6db52c;
  width: 60%;
  height: 10%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }
  .hamburger__line--first {
    margin-bottom: 10%; }
  .hamburger__line--second {
    margin-bottom: 10%; }

.header {
  display: block;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0.089673913rem 0.2201086957rem -0.0190217391rem rgba(0, 0, 0, 0.2), 0 0.125rem 0.1630434783rem 0.0081521739rem rgba(0, 0, 0, 0.14), 0 0.1440217391rem 0.1847826087rem -0.0380434783rem rgba(0, 0, 0, 0.12); }

.header__top {
  position: relative;
  background-color: #6db52c;
  font-size: 2.5rem;
  height: 1em;
  z-index: 10; }

.header__bottom {
  position: relative;
  z-index: 5; }

.header__item {
  display: block;
  font-size: 0.35em;
  color: #ffffff;
  text-decoration: none; }
  .header__item:not(:last-child) {
    margin-right: 1.5em; }
  @media (min-width: 37.5em) {
    .header__item:first-child {
      margin-left: auto; }
    .header__item:not(:last-child) {
      margin-right: 3em; } }

.header__item__svg {
  display: none;
  height: 2.5em;
  vertical-align: middle;
  margin-right: 0.2em; }
  @media (min-width: 37.5em) {
    .header__item__svg {
      display: inline-block; } }

.header__item__text {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.header__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  align-items: center;
  height: 100%; }
  @media (min-width: 37.5em) {
    .header__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .header__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .header__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .header__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .header__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 75em) {
    .header__container {
      padding-right: 2.5rem; } }
  .header__container--top {
    justify-content: center; }
    @media (min-width: 37.5em) {
      .header__container--top {
        justify-content: flex-start; } }
  .header__container--bottom {
    height: calc(3.6764705882vw + 3.0147058824rem); }
    @media (min-width: 62.5em) {
      .header__container--bottom {
        height: calc(7.5vw + 0.625rem); } }
    @media (min-width: 75em) {
      .header__container--bottom {
        height: 6.25rem; } }

.header__logo {
  display: block;
  width: calc(8.8235294118vw + 4.4852941176rem); }
  @media (min-width: 62.5em) {
    .header__logo {
      width: calc(20vw - 2.5rem); } }
  @media (min-width: 75em) {
    .header__logo {
      width: 12.5rem; } }

@media (min-width: 62.5em) {
  .header__hamburger {
    display: none; } }

.header__menu {
  margin-left: auto; }

.desktop-menu {
  position: relative;
  display: none;
  height: 100%;
  align-items: center; }
  @media (min-width: 62.5em) {
    .desktop-menu {
      display: flex; } }

.desktop-menu__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #ffffff; }

.desktop-menu__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffffff;
  align-items: stretch;
  z-index: 10; }

.desktop-menu__trigger {
  display: none; }
  .desktop-menu__trigger:checked + .desktop-menu__item .desktop-menu__item__link--close {
    display: block; }
  .desktop-menu__trigger:checked + .desktop-menu__item .desktop-menu__item__link--open {
    display: none; }
  .desktop-menu__trigger:checked + .desktop-menu__item + .desktop-menu__submenu {
    transform: translateY(0); }

.desktop-menu__item {
  display: flex;
  align-items: center;
  background-color: red;
  font-size: calc(1vw + 0.25rem); }
  @media (min-width: 75em) {
    .desktop-menu__item {
      font-size: 1rem; } }
  .desktop-menu__item:not(:last-child) {
    margin-right: 1em; }
  .desktop-menu__item--submenu {
    padding: 0; }
    .desktop-menu__item--submenu:after {
      content: ""; }
    .desktop-menu__item--submenu .desktop-menu__item__text {
      padding: 0.5em 0; }

.desktop-menu__item__link {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  width: auto;
  position: relative;
  display: block;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em 0; }
  .desktop-menu__item__link--close {
    display: none; }

.desktop-menu__submenu {
  width: 100%;
  height: calc(100vh - 2.5rem);
  position: absolute;
  top: 0;
  left: 0;
  padding-top: calc(3.6764705882vw + 3.0147058824rem);
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 500ms;
  z-index: -10; }
  @media (min-width: 62.5em) {
    .desktop-menu__submenu {
      padding-top: calc(7.5vw + 0.625rem); } }
  @media (min-width: 75em) {
    .desktop-menu__submenu {
      padding-top: 6.25rem; } }

.desktop-menu__submenu__wrapper {
  max-height: 100%;
  background-color: #6db52c;
  overflow: auto; }

.svg--canteen .svg__path {
  fill: #ffffff; }

.svg--book .svg__path {
  fill: #ffffff; }

.heading {
  font-weight: bold;
  font-style: normal;
  color: #333333;
  margin-top: 0;
  margin-bottom: 0.5em; }
  .heading--center {
    text-align: center; }

.heading--1 {
  font-size: calc(1.7045454545vw + 1.7840909091rem); }
  @media (min-width: 75em) {
    .heading--1 {
      font-size: 3.0625rem; } }

.heading--2 {
  font-size: calc(0.4545454545vw + 1.6590909091rem); }
  @media (min-width: 75em) {
    .heading--2 {
      font-size: 2rem; } }

.heading--3 {
  font-size: calc(0.4545454545vw + 1.5340909091rem); }
  @media (min-width: 75em) {
    .heading--3 {
      font-size: 1.875rem; } }

.heading--4 {
  font-size: calc(0.4545454545vw + 1.1590909091rem); }
  @media (min-width: 75em) {
    .heading--4 {
      font-size: 1.5rem; } }

.heading--5 {
  font-size: calc(0.4545454545vw + 0.9090909091rem); }
  @media (min-width: 75em) {
    .heading--5 {
      font-size: 1.25rem; } }

.heading--6 {
  font-size: calc(0.3409090909vw + 0.7443181818rem); }
  @media (min-width: 75em) {
    .heading--6 {
      font-size: 1rem; } }

.paragraph {
  font-size: calc(0.3409090909vw + 0.7443181818rem);
  line-height: 1.5;
  margin-top: 0;
  padding: 0;
  margin-bottom: 1em; }
  @media (min-width: 75em) {
    .paragraph {
      font-size: 1rem; } }

/*# sourceMappingURL=main.css.map */
