.heading{
    font-weight: bold;
    font-style: normal;
    color: $heading-default-color;
    margin-top: 0;
    margin-bottom: 0.5em;


    &--center{
        text-align: center;
    }
}
@for $i from 1 through 6{
    #{".heading--"+$i}{
        @include heading("h"+$i);
    }
}
