/*@import "material/buttons.scss";*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,700&display=swap");
.menu__controller {
  display: none; }
  .menu__controller--main:checked + .menu {
    transition-delay: 0s;
    transform: translateX(0); }
    .menu__controller--main:checked + .menu > .menu__container {
      transform: translateX(0); }
    .menu__controller--main:checked + .menu > .menu__background {
      opacity: 1; }
  .menu__controller--secondary:checked + .menu__content.menu__content--secondary {
    transform: translateX(0%);
    z-index: 20; }
  .menu__controller--secondary:checked ~ .menu__content.menu__content--main {
    transform: translateX(-100%); }
  .menu__controller--secondary:checked ~ .menu__controller:checked + .menu__content.menu__content--secondary {
    transform: translateX(-100%);
    z-index: 10; }

.menu {
  z-index: 1000;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  transition-property: transform;
  transition-duration: 0s;
  transition-delay: 500ms; }

.menu__background {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(102, 89, 108, 0.7);
  opacity: 0;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-delay: 0s; }

.menu__container {
  z-index: 20;
  top: 0;
  left: 0;
  position: absolute;
  width: 15.625rem;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  transform: translateX(-100%);
  box-shadow: 0 0.2527173913rem 0.4157608696rem -0.1331521739rem rgba(0, 0, 0, 0.2), 0 0.5rem 0.7663043478rem 0.0570652174rem rgba(0, 0, 0, 0.14), 0 0.2581521739rem 0.9184782609rem 0.1086956522rem rgba(0, 0, 0, 0.12);
  transition-property: transform;
  transition-duration: 500ms;
  transition-delay: 0s; }

.menu__content {
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  /*transition: transform 500ms;*/ }
  .menu__content--secondary {
    transform: translateX(100%); }

.menu__content__wrapper {
  display: block;
  height: 100%;
  width: 31.25rem;
  overflow: auto;
  padding-top: 2.5rem; }

.menu__item {
  display: block;
  position: relative;
  width: 15.625rem;
  text-decoration: none;
  line-height: 1;
  color: #66596C;
  background-color: #ffffff;
  font-size: 1rem;
  padding: 0.7em 3em 0.7em 1em;
  cursor: pointer;
  font-weight: 500; }
  .menu__item--submenu::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    content: url(../img/naviarrow_right.svg);
    width: 1em;
    height: 1em; }
  .menu__item--header {
    padding: 0;
    height: 2.5rem;
    padding: 0 3em 0 1em;
    display: flex;
    justify-content: flex-end;
    background-color: #7EBA28;
    color: #ffffff;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: bold;
    align-items: center;
    cursor: initial;
    position: absolute;
    top: 0;
    left: 0; }

.menu__breadcrumb {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.menu__trigger {
  position: absolute;
  right: 1em;
  display: inline-block;
  cursor: pointer;
  margin-left: auto;
  width: 1em;
  height: 1em; }
  .menu__trigger--close::after {
    content: "\2716"; }
  .menu__trigger--back::after {
    content: url(../img/naviarrow_left.svg);
    width: 1em;
    height: 1em; }

html {
  font-family: "Montserrat", Verdana, sans-serif;
  min-height: 100vh;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #66596C; }

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: calc(3.6764705882vw + 5.5147058824rem); }
  @media (min-width: 62.5em) {
    .main {
      margin-top: calc(5.3571428571vw + 4.4642857143rem); } }
  @media (min-width: 80em) {
    .main {
      margin-top: 8.75rem; } }
  .main--homepage {
    margin-top: 0; }

.container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem); }
  @media (min-width: 37.5em) {
    .container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .container {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .container {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .container {
      padding-right: 2.5rem; } }
  .container--column {
    flex-direction: column; }

.ratio-keeper {
  display: block;
  width: 100%; }

.heading {
  font-weight: bold;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0.5em; }
  .heading--center {
    text-align: center; }

.heading--1 {
  font-size: calc(1.2957379948vw + 1.0370096042rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--1 {
      font-size: 2.0736rem; } }

.heading--2 {
  font-size: calc(0.8553870617vw + 1.0436903507rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--2 {
      font-size: 1.728rem; } }

.heading--3 {
  font-size: calc(0.5025183333vw + 1.0379853333rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--3 {
      font-size: 1.44rem; } }

.heading--4 {
  font-size: calc(0.2216666667vw + 1.0226666667rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--4 {
      font-size: 1.2rem; } }

.heading--5 {
  font-size: calc(0vw + 1rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--5 {
      font-size: 1rem; } }

.heading--6 {
  font-size: calc(-0.1731229824vw + 0.9718317193rem);
  margin-top: 0;
  margin-bottom: 0.5em; }
  @media (min-width: 80em) {
    .heading--6 {
      font-size: 0.8333333333rem; } }

.paragraph {
  font-size: calc(0vw + 1rem);
  line-height: 1.5;
  margin-top: 0;
  padding: 0;
  margin-bottom: 1em; }
  @media (min-width: 80em) {
    .paragraph {
      font-size: 1rem; } }
  .paragraph--center {
    text-align: center; }

.hamburger {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.hamburger__line {
  display: block;
  background-color: #7EBA28;
  width: 60%;
  height: 10%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }
  .hamburger__line--first {
    margin-bottom: 10%; }
  .hamburger__line--second {
    margin-bottom: 10%; }

.header {
  display: block;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0.089673913rem 0.2201086957rem -0.0190217391rem rgba(0, 0, 0, 0.2), 0 0.125rem 0.1630434783rem 0.0081521739rem rgba(0, 0, 0, 0.14), 0 0.1440217391rem 0.1847826087rem -0.0380434783rem rgba(0, 0, 0, 0.12); }

.header__top {
  position: relative;
  background-color: #7EBA28;
  font-size: 2.5rem;
  height: 1em;
  z-index: 10; }

.header__bottom {
  position: relative;
  z-index: 5;
  background-color: #ffffff; }

.header__item {
  display: block;
  font-size: 0.35em;
  color: #ffffff;
  text-decoration: none; }
  .header__item:not(:last-child) {
    margin-right: 1.5em; }
  @media (min-width: 37.5em) {
    .header__item:first-child {
      margin-left: auto; }
    .header__item:not(:last-child) {
      margin-right: 3em; } }

.header__item__svg {
  display: none;
  height: 2.5em;
  vertical-align: middle;
  margin-right: 0.2em; }
  @media (min-width: 37.5em) {
    .header__item__svg {
      display: inline-block; } }

.header__item__text {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.header__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  align-items: center;
  height: 100%; }
  @media (min-width: 37.5em) {
    .header__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .header__container {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .header__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .header__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .header__container {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .header__container {
      padding-right: 2.5rem; } }
  .header__container--top {
    justify-content: center; }
    @media (min-width: 37.5em) {
      .header__container--top {
        justify-content: flex-start; } }
  .header__container--bottom {
    height: calc(3.6764705882vw + 3.0147058824rem); }
    @media (min-width: 62.5em) {
      .header__container--bottom {
        height: calc(5.3571428571vw + 1.9642857143rem); } }
    @media (min-width: 80em) {
      .header__container--bottom {
        height: 6.25rem; } }

.header__logo {
  display: block;
  width: calc(2.9411764706vw + 6.9117647059rem); }
  @media (min-width: 62.5em) {
    .header__logo {
      width: calc(21.4285714286vw - 4.6428571429rem); } }
  @media (min-width: 80em) {
    .header__logo {
      width: 12.5rem; } }

.header__hamburger {
  cursor: pointer;
  margin-left: auto; }
  @media (min-width: 62.5em) {
    .header__hamburger {
      display: none; } }

.header__hamburger__svg {
  display: block;
  width: 2em;
  height: 2em; }

.header__menu {
  margin-left: auto; }

.header__searchbar {
  width: 2em;
  margin-left: 1em;
  cursor: pointer; }

.header__searchbar__svg {
  display: block; }

.desktop-menu {
  position: relative;
  display: none;
  height: 100%;
  align-items: center; }
  @media (min-width: 62.5em) {
    .desktop-menu {
      display: flex; } }

.desktop-menu__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #ffffff; }

.desktop-menu__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffffff;
  align-items: stretch;
  z-index: 10; }

.desktop-menu__trigger {
  display: none; }
  .desktop-menu__trigger:checked + .desktop-menu__item .desktop-menu__item__link {
    color: #333333; }
    .desktop-menu__trigger:checked + .desktop-menu__item .desktop-menu__item__link--close {
      display: block; }
    .desktop-menu__trigger:checked + .desktop-menu__item .desktop-menu__item__link--open {
      display: none; }
    .desktop-menu__trigger:checked + .desktop-menu__item .desktop-menu__item__link .desktop-menu__item__svg .svg__path {
      fill: #333333; }
  .desktop-menu__trigger:checked + .desktop-menu__item + .desktop-menu__submenu {
    transform: translateY(0); }

.desktop-menu__item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: calc(1.0714285714vw + 0.0803571429rem); }
  @media (min-width: 80em) {
    .desktop-menu__item {
      font-size: 0.9375rem; } }
  .desktop-menu__item:not(:last-of-type) {
    margin-right: 1.5em; }
  .desktop-menu__item--submenu {
    padding: 0; }
    .desktop-menu__item--submenu .desktop-menu__item__text {
      padding: 0.5em 0; }

.desktop-menu__item__svg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0;
  width: 0.9em;
  height: 0.9em; }

.desktop-menu__item__link {
  display: flex;
  align-items: center;
  position: relative;
  color: #66596C;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  width: auto;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em 0; }
  .desktop-menu__item--submenu .desktop-menu__item__link {
    padding: 0.5em 1.35em 0.5em 0; }
  .desktop-menu__item__link--close {
    display: none; }
  .desktop-menu__item__link:hover {
    color: #333333; }
    .desktop-menu__item__link:hover .desktop-menu__item__svg .svg__path {
      fill: #333333; }

.desktop-menu__submenu {
  width: 100%;
  height: calc(100vh - 2.5rem);
  position: absolute;
  top: 0;
  left: 0;
  padding-top: calc(3.6764705882vw + 3.0147058824rem);
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 500ms;
  z-index: -10; }
  @media (min-width: 62.5em) {
    .desktop-menu__submenu {
      padding-top: calc(5.3571428571vw + 1.9642857143rem); } }
  @media (min-width: 80em) {
    .desktop-menu__submenu {
      padding-top: 6.25rem; } }

.desktop-menu__submenu__scrollarea {
  max-height: 100%;
  overflow: auto;
  border-bottom: 0.1875rem solid #7EBA28; }

.desktop-menu__submenu__wrapper {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: stretch;
  font-size: 0.9375rem; }

.desktop-menu__submenu__image {
  width: 100%;
  display: block; }

.desktop-menu__submenu__column {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-top: 0.0625rem solid #f2f2f2; }
  .desktop-menu__submenu__column--small {
    background-color: #7EBA28;
    width: 25%;
    padding: 1.25rem;
    flex-shrink: 0; }

.desktop-menu__submenu__divider {
  width: 0.0625rem;
  background-color: #f2f2f2;
  flex-shrink: 0; }

.desktop-menu__submenu__item {
  padding: 0.65em 2em;
  text-decoration: none;
  cursor: pointer;
  color: #333333;
  background-color: #ffffff;
  font-weight: bold; }
  .desktop-menu__submenu__item:not(:last-child) {
    border-bottom: 0.0625rem solid #f2f2f2; }
  .desktop-menu__submenu__item:hover {
    background-color: #7EBA28;
    color: #ffffff; }
  .desktop-menu__submenu__group .desktop-menu__submenu__item {
    font-weight: normal;
    color: #66596C;
    border-color: transparent; }
    .desktop-menu__submenu__group .desktop-menu__submenu__item:hover {
      color: #ffffff; }
    .desktop-menu__submenu__group .desktop-menu__submenu__item:first-child {
      cursor: auto;
      color: #333333;
      font-weight: bold; }
      .desktop-menu__submenu__group .desktop-menu__submenu__item:first-child:hover {
        background-color: #ffffff;
        color: #333333;
        border-color: transparent; }
    .desktop-menu__submenu__group .desktop-menu__submenu__item:not(:first-child) {
      padding: 0.65em 2em 0.65em 3em; }

.desktop-menu__submenu__group {
  display: flex;
  flex-direction: column;
  font-weight: normal; }
  .desktop-menu__submenu__group:not(:last-child) {
    border-bottom: 0.0625rem solid #f2f2f2; }

#searcharea {
  display: none; }
  #searcharea:checked + .searcharea {
    transform: translateY(0); }

.searcharea {
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  padding-top: calc(3.6764705882vw + 5.5147058824rem);
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 500ms; }
  @media (min-width: 62.5em) {
    .searcharea {
      padding-top: calc(5.3571428571vw + 4.4642857143rem); } }
  @media (min-width: 80em) {
    .searcharea {
      padding-top: 8.75rem; } }

.searcharea__wrapper {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  height: 100%; }
  @media (min-width: 37.5em) {
    .searcharea__wrapper {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .searcharea__wrapper {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .searcharea__wrapper {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .searcharea__wrapper {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .searcharea__wrapper {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .searcharea__wrapper {
      padding-right: 2.5rem; } }

.searcharea__header {
  padding: 2em 0;
  width: 100%; }

.searcharea__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  /* total width */
  /* background of the scrollbar except button or resizer */
  /* scrollbar itself */
  /* set button(top and bottom of the scrollbar) */ }
  .searcharea__content::-webkit-scrollbar {
    background-color: #fff;
    width: 16px; }
  .searcharea__content::-webkit-scrollbar-track {
    background-color: transparent; }
  .searcharea__content::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff; }
  .searcharea__content::-webkit-scrollbar-button {
    display: none; }

.searcharea__item {
  margin-bottom: 2em;
  text-decoration: none; }

.searcharea__item__text {
  color: #66596C; }

.searchbar {
  display: flex;
  border: 0.0625rem solid #7EBA28;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  height: 3em;
  margin: auto; }

.searchbar__icon {
  width: 3em;
  height: 3em;
  flex-shrink: 0; }

.searchbar__svg {
  display: block;
  width: 100%; }

.searchbar__input {
  flex-grow: 1;
  width: 100%;
  border: none;
  outline: none; }

.searchbar__button {
  background-color: #7EBA28;
  color: #ffffff;
  border: none;
  cursor: pointer; }

.carousel {
  position: relative;
  overflow: hidden;
  height: calc(100vh - (3.6764705882vw + 5.5147058824rem)); }
  @media (min-width: 62.5em) {
    .carousel {
      height: calc(100vh - (5.3571428571vw + 4.4642857143rem)); } }
  @media (min-width: 80em) {
    .carousel {
      height: calc(100vh - 8.75rem); } }
  .carousel--small {
    max-height: 21.875rem; }

.carousel__video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.carousel__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.carousel__content {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: #ffffff;
  z-index: 100; }
  @media (min-width: 37.5em) {
    .carousel__content {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .carousel__content {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .carousel__content {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .carousel__content {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .carousel__content {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .carousel__content {
      padding-right: 2.5rem; } }

.carousel__heading {
  text-align: center;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: calc(2.8125vw + 1.8125rem); }
  @media (min-width: 80em) {
    .carousel__heading {
      font-size: 4.0625rem; } }

.carousel__paragraph {
  max-width: 43.75rem;
  text-align: center;
  line-height: 1.5;
  font-size: calc(0.8333333333vw + 0.7083333333rem); }
  @media (min-width: 80em) {
    .carousel__paragraph {
      font-size: 1.375rem; } }

.svg--mail .svg__path {
  fill: #ffffff; }
.svg--search .svg__path {
  fill: #ffffff; }
.svg--search.svg--invert .svg__path {
  fill: #7EBA28; }
.svg--hamburger .svg__path {
  fill: #7EBA28; }

.svg--book .svg__path {
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease; }
.svg--book.info__svg .svg__path {
  fill: #7EBA28; }
  .info__item:hover .svg--book.info__svg .svg__path {
    fill: #ffffff; }

.svg--download .svg__path {
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease; }
.svg--download.info__svg .svg__path {
  fill: #7EBA28; }
  .info__item:hover .svg--download.info__svg .svg__path {
    fill: #ffffff; }

.svg--canteen .svg__path {
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease; }
.svg--canteen.info__svg .svg__path {
  fill: #7EBA28; }
  .info__item:hover .svg--canteen.info__svg .svg__path {
    fill: #ffffff; }

.svg--bell .svg__path {
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease; }
.svg--bell.info__svg .svg__path {
  fill: #7EBA28; }
  .info__item:hover .svg--bell.info__svg .svg__path {
    fill: #ffffff; }

.svg--note .svg__path {
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease; }
.svg--note.info__svg .svg__path {
  fill: #7EBA28; }
  .info__item:hover .svg--note.info__svg .svg__path {
    fill: #ffffff; }

.svg--swimming .svg__path {
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease; }
.svg--swimming.info__svg .svg__path {
  fill: #7EBA28; }
  .info__item:hover .svg--swimming.info__svg .svg__path {
    fill: #ffffff; }

.svg--schoolclub .svg__path {
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease; }
.svg--schoolclub.info__svg .svg__path {
  fill: #7EBA28; }
  .info__item:hover .svg--schoolclub.info__svg .svg__path {
    fill: #ffffff; }

.svg--heart .svg__path {
  transition-property: fill;
  transition-duration: 500ms;
  transition-timing-function: ease; }
.svg--heart.info__svg .svg__path {
  fill: #7EBA28; }
  .info__item:hover .svg--heart.info__svg .svg__path {
    fill: #ffffff; }

.svg--search .svg__circle {
  fill: #7EBA28; }

.svg--logo .svg__path--text {
  fill: #66596C; }
.svg--logo.footer__logo .svg__path--text {
  fill: #ffffff; }
.svg--logo .svg__path--1 {
  fill: #0CACD6; }
.svg--logo .svg__path--2 {
  fill: #95829C; }
.svg--logo .svg__path--3 {
  fill: #ECDB00; }
.svg--logo .svg__path--4 {
  fill: #7EBA28; }

.svg--arrowdown {
  fill: #66596C; }
  .svg--arrowdown.news__button__svg {
    fill: #ffffff; }

.svg--arrowup {
  fill: #66596C; }
  .svg--arrowup.news__button__svg {
    fill: #ffffff; }

.svg--arrowright .svg__path {
  fill: #7EBA28; }

.svg--home .svg__path {
  fill: #7EBA28; }

.title {
  font-size: calc(1.2957379948vw + 1.0370096042rem);
  margin-top: 0;
  margin-bottom: 0.5em;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em; }
  @media (min-width: 80em) {
    .title {
      font-size: 2.0736rem; } }

.title__text {
  font-size: inherit;
  text-align: center;
  margin-bottom: 0.3em;
  margin-top: 0; }

.title__bottom {
  display: flex;
  align-items: center;
  justify-content: center; }

.title__bottom__svg {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0 0.9375rem; }

.title__bottom__line {
  display: block;
  width: 6.25rem;
  height: 0.125rem;
  background-color: #66596C;
  border-top-left-radius: 6.25rem;
  border-top-right-radius: 6.25rem;
  border-bottom-left-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem; }

.news {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  flex-wrap: wrap;
  font-size: calc(0vw + 1rem); }
  @media (min-width: 37.5em) {
    .news {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .news {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .news {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .news {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .news {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .news {
      padding-right: 2.5rem; } }
  @media (min-width: 80em) {
    .news {
      font-size: 1rem; } }
  .news--compact {
    align-items: center;
    flex-direction: column; }
    @media (min-width: 56.25em) {
      .news--compact {
        flex-direction: row; } }
    @media (min-width: 80em) {
      .news--compact {
        justify-content: space-between; } }

.news__item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 2em 2em 3em 2em;
  margin-bottom: 4em; }
  .news--compact .news__item {
    padding: 4.3em 2em 3em 2em;
    align-items: flex-start;
    border-bottom: 0.125rem solid #7EBA28;
    width: 100%;
    box-shadow: 0.25rem 0.3125rem 0.375rem 0 #0000001f; }
    .news--compact .news__item:nth-of-type(n+3) {
      display: none; }
    @media (min-width: 56.25em) {
      .news--compact .news__item {
        width: 40%;
        margin-left: 6.6666666667%; }
        .news--compact .news__item:nth-of-type(n+3) {
          display: flex; } }
    @media (min-width: 80em) {
      .news--compact .news__item {
        margin-left: 0;
        width: 30%; } }

.news__heading {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.8em;
  width: 100%;
  background-color: #7EBA28;
  overflow: hidden; }

.news__heading__svg {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.news__foreign-hook {
  position: absolute;
  visibility: hidden;
  top: calc(-3.6764705882vw - 6.7647058824rem); }
  @media (min-width: 62.5em) {
    .news__foreign-hook {
      top: calc(-5.3571428571vw - 5.7142857143rem); } }
  @media (min-width: 80em) {
    .news__foreign-hook {
      top: -10rem; } }
  .news__foreign-hook:target ~ .news__content {
    max-height: 9999em; }
  .news__foreign-hook:target ~ .news__button--more {
    display: none; }
  .news__foreign-hook:target ~ .news__button--less {
    display: block; }

.news__hook {
  display: none; }
  .news__hook:target ~ .news__content {
    max-height: 9999em; }
  .news__hook:target ~ .news__button--more {
    display: none; }
  .news__hook:target ~ .news__button--less {
    display: block; }

.news__button {
  position: absolute;
  bottom: 0;
  right: 2em;
  width: 3.5em;
  height: 3.5em;
  background-color: #7EBA28;
  text-decoration: none;
  transform: translateY(50%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; }
  .news__button--less {
    display: none; }
  .news--compact .news__button {
    width: auto;
    height: auto;
    position: relative;
    right: 0;
    color: #ffffff;
    background-color: #66596C;
    padding: 0.5em 2em;
    margin-left: auto;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .news--compact .news__button:hover {
      background-color: #7EBA28; }

.news__button__svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  display: block; }

.news__name {
  margin: 0;
  color: #7EBA28;
  line-height: 1.3;
  margin-bottom: 0.2em;
  font-size: 1.25em; }
  .news--compact .news__name {
    line-height: 1.1;
    color: #66596C; }

.news__date {
  color: #66596C;
  font-weight: bold;
  margin-bottom: 0.4em; }
  .news--compact .news__date {
    font-size: 0.9em;
    font-weight: normal;
    color: #66596C; }

.news__content {
  height: 4.5em;
  overflow: hidden; }
  .news__item--small .news__content {
    max-height: none; }
  .news--compact .news__content {
    margin-bottom: 1em; }

.news__text {
  line-height: 1.5; }
  .news__text:not(:last-child) {
    margin-bottom: 3em; }
  .news--compact .news__text {
    color: #333333; }

.widgets {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  font-size: calc(0vw + 1rem);
  margin-bottom: 3em; }
  @media (min-width: 37.5em) {
    .widgets {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .widgets {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .widgets {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .widgets {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .widgets {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .widgets {
      padding-right: 2.5rem; } }
  @media (min-width: 80em) {
    .widgets {
      font-size: 1rem; } }

.widget__item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 2em 2em 3em 2em;
  margin-bottom: 0.125rem; }

.info {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-wrap: wrap;
  padding-bottom: 3.125rem; }
  @media (min-width: 37.5em) {
    .info {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .info {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .info {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .info {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .info {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .info {
      padding-right: 2.5rem; } }

.info__item {
  display: block;
  position: relative;
  background-color: #f6f6f6;
  border-bottom: 0.125rem solid #7EBA28;
  width: 100%;
  max-width: 21.875rem;
  margin-bottom: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.25rem 0.3125rem 0.375rem 0 #0000001f;
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: ease; }
  .info__item:hover {
    background-color: #7EBA28; }
    .info__item:hover .info__text {
      color: #ffffff; }
  @media (min-width: 37.5em) {
    .info__item {
      max-width: none;
      margin-bottom: 2.5rem;
      width: 40%; } }
  @media (min-width: 56.25em) {
    .info__item {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 3.125rem;
      width: 30%; }
      .info__item:not(:nth-of-type(3n+1)) {
        margin-left: 5%; } }
  @media (min-width: 80em) {
    .info__item {
      width: 22%;
      margin-bottom: 2.5rem; }
      .info__item:not(:nth-of-type(3n+1)) {
        margin-left: 0; }
      .info__item:not(:nth-of-type(4n+1)) {
        margin-left: 4%; } }

.info__content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 8%; }

.info__image {
  width: 20%;
  margin-right: 8%; }

.info__text {
  font-size: calc(0vw + 1rem);
  font-weight: bold;
  color: #66596C;
  transition-property: color;
  transition-duration: 500ms;
  transition-timing-function: ease; }
  @media (min-width: 80em) {
    .info__text {
      font-size: 1rem; } }

.gallery {
  padding-bottom: 3.125rem; }
  .gallery--compact {
    background-color: #f6f6f6; }

.gallery__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  align-items: center; }
  @media (min-width: 37.5em) {
    .gallery__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .gallery__container {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .gallery__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .gallery__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .gallery__container {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .gallery__container {
      padding-right: 2.5rem; } }
  .gallery--compact .gallery__container {
    flex-wrap: wrap;
    flex-direction: row; }
    @media (min-width: 80em) {
      .gallery--compact .gallery__container {
        justify-content: space-between; } }

.gallery__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 37.5rem;
  text-decoration: none;
  font-size: calc(0vw + 1rem);
  margin-bottom: 2em; }
  @media (min-width: 80em) {
    .gallery__item {
      font-size: 1rem; } }
  @media (min-width: 56.25em) {
    .gallery__item {
      align-items: center;
      max-width: none;
      flex-direction: row; } }
  .gallery--compact .gallery__item {
    flex-direction: column;
    display: block;
    width: 100%;
    margin-bottom: 1.25rem;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 46.875em) {
      .gallery--compact .gallery__item {
        max-width: none;
        margin-bottom: 3.125rem;
        width: 43%; }
        .gallery--compact .gallery__item:not(:nth-of-type(2n+1)) {
          margin-left: 14%; } }
    @media (min-width: 62.5em) {
      .gallery--compact .gallery__item {
        width: 32%;
        margin-bottom: 2.5rem; }
        .gallery--compact .gallery__item:not(:nth-of-type(2n+1)) {
          margin-left: 0; }
        .gallery--compact .gallery__item:not(:nth-of-type(3n+1)) {
          margin-left: 2%; } }

.gallery__image-container {
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  margin-bottom: 1.25rem; }
  @media (min-width: 56.25em) {
    .gallery__image-container {
      width: 18.75rem;
      margin-right: 1.25rem;
      margin-bottom: 0; } }
  .gallery--compact .gallery__image-container {
    max-width: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0; }

.gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #333333;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 700ms; }
  .gallery__image-container:hover .gallery__image {
    transform: scale(1.2); }

.gallery__content {
  display: flex;
  flex-direction: column; }
  .gallery--compact .gallery__content {
    width: 100%;
    margin-top: 1em; }

.gallery__heading {
  margin: 0;
  color: #7EBA28;
  line-height: 1.3;
  margin-bottom: 0.2em;
  font-size: 1.25em; }

.gallery__date {
  color: #66596C;
  font-weight: bold;
  margin-bottom: 0.4em; }

.gallery__text {
  line-height: 1.5;
  color: #66596C; }

.gallery__description {
  width: 100%;
  margin-bottom: 3em; }

.pagination {
  width: 100%;
  font-size: calc(0.4166666667vw + 0.8541666667rem);
  display: flex;
  justify-content: center;
  margin-bottom: 1em; }
  @media (min-width: 80em) {
    .pagination {
      font-size: 1.1875rem; } }

.pagination__item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #66596C;
  width: 2em;
  height: 2em;
  transition-property: background-color,color;
  transition-duration: 500ms;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }
  .pagination__item:not(:last-child) {
    margin-right: 0.5em; }
  .pagination__item--active:not(.pagination__item--blank), .pagination__item:not(.pagination__item--blank):hover {
    color: #ffffff;
    background-color: #7EBA28; }
  .pagination__item--blank {
    flex-shrink: 1;
    cursor: default; }

.double-pane {
  display: flex;
  flex-wrap: wrap; }

.double-pane__column {
  display: flex;
  flex-direction: column;
  width: 100%; }
  @media (min-width: 56.25em) {
    .double-pane__column {
      width: 50%; } }
  .double-pane__column.double-pane__column--about {
    background-color: #f6f6f6; }
  .double-pane__column.double-pane__column--swimming {
    background-color: #0CACD6;
    color: #ffffff; }

.double-pane__container {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  @media (min-width: 56.25em) {
    .double-pane__container {
      max-width: 40rem; } }
  .double-pane__column--about .double-pane__container {
    margin-left: auto;
    padding-left: calc(1.7857142857vw + 0.5803571429rem);
    padding-right: calc(1.7857142857vw + 0.5803571429rem); }
    @media (min-width: 37.5em) {
      .double-pane__column--about .double-pane__container {
        padding-left: calc(3.3333333333vw + 0rem); } }
    @media (min-width: 56.25em) {
      .double-pane__column--about .double-pane__container {
        padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
    @media (min-width: 80em) {
      .double-pane__column--about .double-pane__container {
        padding-left: 2.5rem; } }
    @media (min-width: 37.5em) {
      .double-pane__column--about .double-pane__container {
        padding-right: calc(3.3333333333vw + 0rem); } }
    @media (min-width: 56.25em) {
      .double-pane__column--about .double-pane__container {
        padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
    @media (min-width: 80em) {
      .double-pane__column--about .double-pane__container {
        padding-right: 2.5rem; } }
    @media (min-width: 56.25em) {
      .double-pane__column--about .double-pane__container {
        padding-right: calc(15.7894736842vw - 7.0065789474rem); } }
    @media (min-width: 56.25em) and (min-width: 80em) {
      .double-pane__column--about .double-pane__container {
        padding-right: 5.625rem; } }
  .double-pane__column--swimming .double-pane__container {
    margin-right: auto;
    padding-left: calc(1.7857142857vw + 0.5803571429rem);
    padding-right: calc(1.7857142857vw + 0.5803571429rem); }
    @media (min-width: 37.5em) {
      .double-pane__column--swimming .double-pane__container {
        padding-left: calc(3.3333333333vw + 0rem); } }
    @media (min-width: 56.25em) {
      .double-pane__column--swimming .double-pane__container {
        padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
    @media (min-width: 80em) {
      .double-pane__column--swimming .double-pane__container {
        padding-left: 2.5rem; } }
    @media (min-width: 37.5em) {
      .double-pane__column--swimming .double-pane__container {
        padding-right: calc(3.3333333333vw + 0rem); } }
    @media (min-width: 56.25em) {
      .double-pane__column--swimming .double-pane__container {
        padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
    @media (min-width: 80em) {
      .double-pane__column--swimming .double-pane__container {
        padding-right: 2.5rem; } }
    @media (min-width: 56.25em) {
      .double-pane__column--swimming .double-pane__container {
        padding-left: calc(15.7894736842vw - 7.0065789474rem); } }
    @media (min-width: 56.25em) and (min-width: 80em) {
      .double-pane__column--swimming .double-pane__container {
        padding-left: 5.625rem; } }

.double-pane__heading {
  color: inherit;
  margin-bottom: 1.5em; }

.double-pane__text {
  line-height: 2;
  margin-bottom: 4em; }

.double-pane__link {
  margin-top: auto;
  text-decoration: none;
  font-size: calc(0vw + 1rem);
  padding: 0.5em 1em; }
  @media (min-width: 80em) {
    .double-pane__link {
      font-size: 1rem; } }
  .double-pane__column--about .double-pane__link {
    background-color: #7EBA28;
    color: #ffffff; }
  .double-pane__column--swimming .double-pane__link {
    background-color: #ffffff;
    color: #66596C; }

.double-pane__img {
  position: absolute;
  bottom: 0;
  right: calc(3.125vw + 1.25rem);
  width: 40%; }
  @media (min-width: 80em) {
    .double-pane__img {
      right: 3.75rem; } }

.photogallery {
  margin-bottom: 1.875rem;
  font-size: calc(0vw + 1rem); }
  @media (min-width: 80em) {
    .photogallery {
      font-size: 1rem; } }
  .widget__item .photogallery {
    margin-bottom: 0; }

.photogallery__container {
  width: 100%;
  display: block;
  overflow: hidden; }

.photogallery__scrollarea {
  display: inline-block;
  width: auto;
  white-space: nowrap; }

.photogallery__name {
  color: #7EBA28;
  font-size: 1.25em; }

.photogallery__item {
  display: inline-block;
  width: 10em;
  background-color: #7EBA28;
  vertical-align: middle;
  cursor: pointer; }
  .photogallery__item:not(:last-child) {
    margin-right: 1em; }

.downloads {
  margin-bottom: 1.875rem;
  font-size: calc(0vw + 1rem); }
  @media (min-width: 80em) {
    .downloads {
      font-size: 1rem; } }
  .widget__item .downloads {
    margin-bottom: 0; }

.downloads__name {
  color: #7EBA28;
  width: 100%;
  font-size: 1.25em; }

.downloads__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; }

.downloads__item {
  color: #333333;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-decoration: none;
  font-size: calc(0vw + 1rem); }
  @media (min-width: 80em) {
    .downloads__item {
      font-size: 1rem; } }
  .downloads__item:hover {
    text-decoration: underline; }
  .downloads__item:not(:last-child) {
    margin-right: 3em; }

.breadcrumbs {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  font-size: calc(-0.1731229824vw + 0.9718317193rem);
  align-items: center;
  margin-top: 2em;
  display: none; }
  @media (min-width: 37.5em) {
    .breadcrumbs {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .breadcrumbs {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .breadcrumbs {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .breadcrumbs {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .breadcrumbs {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .breadcrumbs {
      padding-right: 2.5rem; } }
  @media (min-width: 80em) {
    .breadcrumbs {
      font-size: 0.8333333333rem; } }
  @media (min-width: 56.25em) {
    .breadcrumbs {
      display: flex; } }

.breadcrumbs__item {
  text-decoration: none;
  color: #66596C; }
  .breadcrumbs__item:hover {
    color: #7EBA28; }
  .breadcrumbs__item:last-child {
    color: #7EBA28; }

.breadcrumbs__delimeter {
  margin-left: 0.5em;
  margin-right: 0.5em; }

.breadcrumbs__icon {
  width: 1em; }

.contacts {
  margin-bottom: 1.875rem;
  font-size: calc(0vw + 1rem); }
  @media (min-width: 80em) {
    .contacts {
      font-size: 1rem; } }
  .widget__item .contacts {
    margin-bottom: 0; }

.contacts__name {
  color: #7EBA28;
  width: 100%;
  font-size: 1.25em; }

.contacts__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contacts--page .contacts__container {
    display: flex;
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(1.7857142857vw + 0.5803571429rem);
    padding-right: calc(1.7857142857vw + 0.5803571429rem);
    padding-bottom: 5rem; }
    @media (min-width: 37.5em) {
      .contacts--page .contacts__container {
        padding-left: calc(3.3333333333vw + 0rem); } }
    @media (min-width: 56.25em) {
      .contacts--page .contacts__container {
        padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
    @media (min-width: 80em) {
      .contacts--page .contacts__container {
        padding-left: 2.5rem; } }
    @media (min-width: 37.5em) {
      .contacts--page .contacts__container {
        padding-right: calc(3.3333333333vw + 0rem); } }
    @media (min-width: 56.25em) {
      .contacts--page .contacts__container {
        padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
    @media (min-width: 80em) {
      .contacts--page .contacts__container {
        padding-right: 2.5rem; } }

.container__column {
  width: 100%; }
  @media (min-width: 62.5em) {
    .container__column {
      width: 45%; } }

.contacts__link {
  word-break: break-all;
  color: #7EBA28;
  text-decoration: none; }
  .contacts__link:hover {
    text-decoration: underline; }

.contacts__form {
  font-size: calc(0vw + 1rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  @media (min-width: 80em) {
    .contacts__form {
      font-size: 1rem; } }
  .contacts__form--small {
    max-width: 28.125rem; }

.contacts__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1em; }

.contacts__label__text {
  margin-bottom: 0.5em;
  color: #333333;
  /*font-weight: bold;*/ }

.contacts__input {
  width: 100%;
  border: 0.0625rem solid #ddd;
  padding: 0.5em;
  outline: none;
  transition-property: color, border-color;
  transition-duration: 500ms;
  transition-timing-function: ease; }
  .contacts__input:hover, .contacts__input:focus {
    border-color: #7EBA28;
    color: #7EBA28; }

.contacts__textarea {
  width: 100%;
  border: 0.0625rem solid #ddd;
  padding: 0.5em;
  outline: none;
  height: 12.5rem;
  resize: vertical;
  transition-property: color, border-color;
  transition-duration: 500ms;
  transition-timing-function: ease; }
  .contacts__textarea:hover, .contacts__textarea:focus {
    border-color: #7EBA28;
    color: #7EBA28; }

.contacts__button {
  text-decoration: none;
  padding: 0.5em 1em;
  background-color: #7EBA28;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer; }

.contacts__form__message {
  width: 100%;
  color: #7EBA28;
  margin-bottom: 1em; }
  .contacts__form__message--warning {
    color: #f57c00; }
  .contacts__form__message--danger {
    color: #d32f2f; }

.table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  color: #333333; }

.table__row {
  display: block;
  margin-bottom: 3em; }
  @media (min-width: 62.5em) {
    .table__row {
      display: table-row; } }
  @media (min-width: 37.5em) {
    .contacts--page .table__row {
      display: table-row; } }

.table__cell {
  display: block;
  vertical-align: baseline;
  padding: .2em 0; }
  .table__cell--light {
    color: #66596C; }
  .table__cell--bold {
    font-weight: bold; }
  @media (min-width: 62.5em) {
    .table__cell {
      display: table-cell;
      padding: .625em 0; }
      .table__cell:not(last-child) {
        border-bottom: 0.0625rem solid #ddd; } }
  @media (min-width: 37.5em) {
    .contacts--page .table__cell {
      display: table-cell;
      padding: .625em 0; }
      .contacts--page .table__cell:not(last-child) {
        border-bottom: 0.0625rem solid #ddd; } }

.table-scroll {
  width: 100%;
  overflow-y: scroll; }
  .table-scroll table {
    width: auto; }

.google-map {
  display: flex;
  width: 100%; }

.google-map__iframe {
  width: 100%;
  height: 31.25rem;
  max-height: 100vh;
  margin: 0;
  padding: 0; }

.cooperation {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  overflow: hidden; }
  @media (min-width: 37.5em) {
    .cooperation {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .cooperation {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .cooperation {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .cooperation {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .cooperation {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .cooperation {
      padding-right: 2.5rem; } }

.cooperation__container {
  width: 100%;
  display: flex; }

.cooperation__item {
  width: 18.75rem; }

.footer {
  color: #ffffff; }

.footer__container {
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1.7857142857vw + 0.5803571429rem);
  padding-right: calc(1.7857142857vw + 0.5803571429rem);
  flex-direction: column;
  align-items: center; }
  @media (min-width: 37.5em) {
    .footer__container {
      padding-left: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .footer__container {
      padding-left: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .footer__container {
      padding-left: 2.5rem; } }
  @media (min-width: 37.5em) {
    .footer__container {
      padding-right: calc(3.3333333333vw + 0rem); } }
  @media (min-width: 56.25em) {
    .footer__container {
      padding-right: calc(2.6315789474vw + 0.3947368421rem); } }
  @media (min-width: 80em) {
    .footer__container {
      padding-right: 2.5rem; } }
  @media (min-width: 56.25em) {
    .footer__container {
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; } }

.footer__top {
  background-color: #66596C;
  padding: 3.75rem 0; }

.footer__bottom {
  background-color: #7EBA28;
  padding: 2.5rem 0;
  text-align: center; }

.footer__logo {
  display: block;
  width: calc(2.9411764706vw + 6.9117647059rem);
  margin: auto;
  margin-bottom: 1.25rem; }
  @media (min-width: 62.5em) {
    .footer__logo {
      width: calc(21.4285714286vw - 4.6428571429rem); } }
  @media (min-width: 80em) {
    .footer__logo {
      width: 12.5rem; } }
  @media (min-width: 56.25em) {
    .footer__logo {
      margin: 0;
      margin-bottom: 1.25rem; } }

.footer__paragraph {
  width: 100%;
  font-size: calc(0vw + 1rem);
  text-align: center; }
  @media (min-width: 80em) {
    .footer__paragraph {
      font-size: 1rem; } }

.footer__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 18.75rem;
  margin-bottom: 2.5rem; }
  @media (min-width: 56.25em) {
    .footer__column {
      margin-bottom: 0;
      max-width: none;
      text-align: left;
      width: 30%; } }

.footer__link {
  color: inherit;
  text-decoration: none;
  margin-bottom: 0.5em; }
  .footer__link:hover {
    text-decoration: underline; }

.footer__heading {
  font-size: calc(0.5025183333vw + 1.0379853333rem);
  font-weight: bold;
  margin-bottom: 1em; }
  @media (min-width: 80em) {
    .footer__heading {
      font-size: 1.44rem; } }

/*# sourceMappingURL=main.css.map */
