@import "variables.scss";

.paragraph{
    @include fluid-font($paragraph-default-font-size);
    line-height: $paragraph-default-line-height;
    margin-top: 0;
    padding: 0;
    margin-bottom: 1em;
}

