@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500i,700&display=swap');

$font-sans-serif: 'Montserrat', Verdana, sans-serif;

//-----z-indexes--
$z-indexes: (
menu: 1000,
header: 500,
searchbar: 400
);

$color-primary: #333333;
$color-primary-light: #737373;
$color-secondary: $material-color-white;
$color-secondary-dark: #f6f6f6;
$color-terciary: #6db52c; 