@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,700&display=swap');

$font-sans-serif: 'Montserrat', Verdana, sans-serif;

//-----z-indexes--
$z-indexes: (
menu: 1000,
header: 500,
searchbar: 400
);
//primary is mainly font color
$color-primary: #66596C;
$color-primary-dark: #333333;
//secondary mainly background color
$color-secondary: $material-color-white;
$color-secondary-dark: #f6f6f6;
//terciary is complementary color
$color-terciary: #7EBA28; 
//quartenary is complementary color
$color-quartenary: #0CACD6; 
