$desktop-menu-breakpoint: 1000;

$desktop-menu-font-sizes: (
xl: 15,
$desktop-menu-breakpoint: 12
);

$desktop-menu-item-color: $color-primary-light;
$desktop-menu-item-hover-color: $color-primary;

$desktopm-menu-item-arrow-size: 0.9;

$desktop-menu-dropdown-background-color: $color-terciary;
$desktop-menu-background-color: $color-secondary;