$desktop-menu-breakpoint: 1000;

$desktop-menu-font-sizes: (
xl: 15,
$desktop-menu-breakpoint: 12
);

$desktop-menu-item-color: $color-primary;
$desktop-menu-item-hover-color: $color-primary-dark;

$desktop-menu-submenu-item-color: $color-primary;
$desktop-menu-submenu-item-hover-color: $color-secondary;
$desktop-menu-submenu-item-background-color: $color-secondary;
$desktop-menu-submenu-item-background-hover-color: $color-terciary;

$desktop-menu-submenu-divider-color: #f2f2f2;
$desktop-menu-submenu-divider-width: 1;

$desktopm-menu-item-arrow-size: 0.9;

$desktop-menu-dropdown-background-color: $color-terciary;
$desktop-menu-background-color: $color-secondary;