$double-pane-column-padding-top: 80;
$double-pane-column-padding-bottom: 80;

$double-pane-column-breakpoint: l;

$double-pane-inner-paddings: (
xl: 90,
l: 30
);

$double-pane-about-background-color: $color-secondary-dark;
$double-pane-about-link-background-color: $color-terciary;
$double-pane-about-link-color: $color-secondary;

$double-pane-swimming-background-color: $color-quartenary;
$double-pane-swimming-color: $color-secondary;
$double-pane-swimming-link-background-color: $color-secondary;
$double-pane-swimming-link-color: $color-primary;




