$gallery-font-size: s;
$gallery-item-breakpoint: l;
$gallery-item-max-width: 600;
$gallery-heading-color: $color-terciary;
$gallery-date-color: $color-primary;
$gallery-text-color: $color-primary;

$gallery-compact-background-color: $color-secondary-dark;
$gallery-compact-breakpoint: 1000;
$gallery-compact-breakpoint-2: 750;