$info-item-svg-color: $color-terciary;
$info-item-svg-hover-color: $color-secondary;



$info-item-background-color: $color-secondary-dark;
$info-item-hover-background-color: $color-terciary;
$info-item-text-color: $color-primary;
$info-item-hover-text-color: $color-secondary;