$news-background-color: $color-secondary-dark;
$news-name-color: $color-terciary;
$news-date-color: $color-primary;
$news-font-sizes: get-font-size(xs);
$news-button-background-color: $color-terciary;
$news-button-color: $color-secondary;
