$pagination-font-sizes: (
xl: 19,
s: 15
);

$pagination-color: $color-primary;
$pagination-border-radius: 4;

$pagination-active-background-color: $color-terciary;
$pagination-active-color: $color-secondary;

