html{
    font-family: $font-sans-serif;
    min-height: 100vh;
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body{ 
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $color-primary;
}

.main{ 
    @include container;
    flex-direction: column;
    margin-top: 300px;
}



