
$header-shadow-depth: 2;
$header-menu-depth: 2;

$header-top-breakpoint: m;
$header-top-height: 40;

$header-logo-widths: (
xl: 200,
$desktop-menu-breakpoint: 160,
s: 100
);

$header-bottom-heights: (
xl: 100,
$desktop-menu-breakpoint: 85,
s: 60
);