.header{
    display: block;
    z-index: z-index(header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-secondary;
    @include material-box-shadow($header-shadow-depth);
}

.header__top{
    position: relative;
    background-color: $color-terciary;
    font-size: rem($header-top-height);
    height: 1em;
    z-index: 10;
}

.header__bottom{
    position: relative;
    z-index: 5;
}

.header__item{
    display: block;
    font-size: 0.35em;
    color: $color-secondary;
    text-decoration: none;
    &:not(:last-child){
        margin-right: 1.5em;
    }


    @include media($header-top-breakpoint){
        &:first-child{
            margin-left: auto;
        }
        &:not(:last-child){
            margin-right: 3em;
        }
    }


}

.header__item__svg{
    display: none;
    height: 2.5em;
    vertical-align: middle;
    margin-right: 0.2em;
    @include media($header-top-breakpoint){
        display: inline-block;
    }
}

.header__item__text{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.header__container{
    @include container;
    align-items: center;
    height: 100%;

    &--top{
        justify-content: center;
        @include media($header-top-breakpoint){
            justify-content: flex-start;
        }
    }
    &--bottom{
        @include linear-interpolation-chain(height,$header-bottom-heights);
    }
}

.header__logo{
    display: block;
    @include linear-interpolation-chain(width, $header-logo-widths);
}

.header__hamburger{

    @include media($desktop-menu-breakpoint){
        display: none;
    }
}

.header__menu{
    margin-left: auto;
}