.carousel{
    position: relative;
    overflow: hidden;
    height: calc(100vh - (3.6764705882vw + 5.5147058824rem));
    @include media($desktop-menu-breakpoint){
        height: calc(100vh - (5.3571428571vw + 4.4642857143rem))
    }
    @include media(xl){
        height: calc(100vh - 8.75rem);
    }
    &--small{
        max-height: rem(500);
    }

}

.carousel__video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel__image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}