.desktop-menu{
    position: relative;
    display: none;
    height: 100%;
    align-items: center;
    @include media($desktop-menu-breakpoint){
        display: flex;
    }
}

.desktop-menu__background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: $color-secondary;
}

.desktop-menu__content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: $desktop-menu-background-color;
    align-items: stretch;
    z-index: 10;
}

.desktop-menu__trigger{
    display: none;
    &:checked{
        + .desktop-menu__item{
            & .desktop-menu__item__link{
                color: $desktop-menu-item-hover-color;
                &--close{
                    display: block;
                }
                &--open{
                    display: none;
                }
                .desktop-menu__item__svg .svg__path{
                    fill: $desktop-menu-item-hover-color;
                }
            }

            + .desktop-menu__submenu{
                transform: translateY(0);
            }
        }

    }
}

.desktop-menu__item{
    position: relative;
    display: flex;
    align-items: center;
    @include linear-interpolation-chain(font-size,$desktop-menu-font-sizes);

    &:not(:last-of-type){
        margin-right: 1.5em;
    }
    &--submenu{
        padding: 0;

        .desktop-menu__item__text{
            padding: 0.5em 0;
        }

    }
}

.desktop-menu__item__svg{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    width: $desktopm-menu-item-arrow-size * 1em;
    height: $desktopm-menu-item-arrow-size * 1em;

}

.desktop-menu__item__link{
    display: flex;
    align-items: center;
    position: relative;
    color: $desktop-menu-item-color;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    width: auto;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em 0;

    @at-root .desktop-menu__item--submenu &{
        padding: 0.5em $desktopm-menu-item-arrow-size*1.5em 0.5em 0;
    }


    &--close{
        display: none;
    }

    &:hover{
        color: $desktop-menu-item-hover-color;
        .desktop-menu__item__svg .svg__path{
            fill: $desktop-menu-item-hover-color;
        }
    }
}

.desktop-menu__submenu{
    width: 100%;
    height: calc(100vh - #{rem($header-top-height)});
    position: absolute;
    top: 0;
    left: 0;
    @include linear-interpolation-chain(padding-top, $header-bottom-heights);
    transform: translateY(-100%);
    transition-property: transform;
    transition-duration: 500ms;
    z-index: -10;

}

.desktop-menu__submenu__scrollarea{
    max-height: 100%;
    overflow: auto;
    border-bottom: rem(3) solid $color-terciary;
}
.desktop-menu__submenu__wrapper{
    display: flex;
    background-color: $color-secondary;
    justify-content: space-between;
    align-items: stretch;
    /*padding: 1.5em;*/
    font-size: rem(15);
}


.desktop-menu__submenu__image{
    width: 100%;
    display: block;
}

.desktop-menu__submenu__column{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-top: rem($desktop-menu-submenu-divider-width) solid $desktop-menu-submenu-divider-color;
    &--small{
        /*border-color: $color-terciary;*/
        background-color: $color-terciary;
        width: 25%;
        padding: rem(20);
        flex-shrink: 0;
        /*align-self: stretch;*/
    }
}

.desktop-menu__submenu__divider{
    width: rem($desktop-menu-submenu-divider-width);
    background-color: $desktop-menu-submenu-divider-color;
    flex-shrink: 0;
}

.desktop-menu__submenu__item{
    /*margin-bottom: 1em;*/
    padding: 0.65em 2em;
    text-decoration: none;
    color: $desktop-menu-submenu-item-color;
    background-color: $desktop-menu-submenu-item-background-color;
    text-transform: capitalize;
    font-weight: 500;

    &:not(:last-child){
        border-bottom: rem($desktop-menu-submenu-divider-width) solid $desktop-menu-submenu-divider-color;
    }

    &:hover{
        background-color: $desktop-menu-submenu-item-background-hover-color;
        color: $desktop-menu-submenu-item-hover-color;
        /*border-color: $desktop-menu-submenu-item-background-hover-color;*/
    }

    @at-root .desktop-menu__submenu__group &{
        /*font-weight: normal;*/
        /*margin-bottom: 0.7em;*/
        /*color: red;*/

        /*text-transform: capitalize;*/
        border-color: transparent;
        &:first-child{
            &:hover{
                background-color: $desktop-menu-submenu-item-background-color;
                color: $desktop-menu-submenu-item-color;
                border-color: transparent;
            }
        }
        &:not(:first-child){
            padding: 0.65em 2em 0.65em 3em;
        }
    }
}

.desktop-menu__submenu__group{
    display: flex;
    flex-direction: column;

    /*padding-left: 1em;*/
    font-weight: normal;
    /*font-size: 0.85em;*/
    &:not(:last-child){
        border-bottom: rem($desktop-menu-submenu-divider-width) solid $desktop-menu-submenu-divider-color;
    }
}










