.downloads{
    margin-bottom: rem(30);
    @include fluid-font(s);
    @at-root .widget__item &{
        margin-bottom: 0;
    }
}

.downloads__name{
    color: $color-terciary;
    width: 100%;
    font-size: 1.25em;
}

.downloads__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.downloads__item{ 
    color: $color-primary-dark;
    font-weight:  bold;
    margin-bottom: 0.5em;
    text-decoration: none;
    @include fluid-font(s);

    &:hover{
        text-decoration: underline;
    }
    &:not(:last-child){
        margin-right: 3em;
    }
}

.downloads__table{
    .table__cell{
        width: rem(100);
        &:first-child{
            width: 100%;
        }
    }
}