.photogallery{

}

.downloads__name{
    color: $color-terciary;
}

.downloads__container{
    width: 100%;
    display: block;
    overflow: hidden;
}

.downloads__item{
    display: block;
    color: $color-primary-dark;
    font-weight:  bold;
    margin-bottom: 0.5em;
    @include fluid-font(s);
}