.footer{
    color: $color-secondary;
}

.footer__container{
    @include container;
    flex-direction: column;
    align-items: center;

    @include media(l){
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.footer__top{
    background-color: $color-primary;
    padding: rem(60) 0;
}

.footer__bottom{
    background-color: $color-terciary;
    padding: rem(40) 0;
    text-align: center;
}

.footer__logo{
    display: block;
    @include linear-interpolation-chain(width, $header-logo-widths);
    margin: auto;
    margin-bottom: rem(20);


    @include media(l){
        margin: 0;
        margin-bottom: rem(20);
    }
}

.footer__paragraph{
    width: 100%;
    @include fluid-font(s);
    text-align: center;

}

.footer__column{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: rem(300);
    margin-bottom: rem(40);

    @include media(l){
        margin-bottom: 0;
        max-width: none;
        text-align: left;
        width: 30%;
    }
}

.footer__link{
    color: inherit;
    text-decoration: none;
    margin-bottom: 0.5em;

    &:hover{
        text-decoration: underline;
    }
}

.footer__heading{
    @include fluid-font(l);
    font-weight: bold;
    margin-bottom: 1em;
}