.info{
    @include container;
    flex-wrap: wrap;
    padding-bottom: rem(50);
}

.info__item{
    display: block;
    position: relative;
    background-color: $info-item-background-color;
    border-bottom: rem(2) solid $info-item-svg-color;
    width: 100%;
    max-width: rem(350);
    margin-bottom: rem(20);
    margin-left: auto;
    margin-right: auto;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;

    &:hover{
        background-color: $info-item-hover-background-color;
        .info__text{
            color: $info-item-hover-text-color;
        }
    }

    @include media(m){
        max-width: none;
        margin-bottom: rem(40);
        width: 40%;
    }

    @include media(l){
        margin-left: 0;
        margin-right: 0;
        margin-bottom: rem(50);
        width: 30%;
        &:not(:nth-of-type(3n+1)){
            margin-left: even-margin-between(3,30);
        }
    }
    @include media(xl){
        width: 22%;
        margin-bottom: rem(40);
        &:not(:nth-of-type(3n+1)){
            margin-left: 0;
        }
        &:not(:nth-of-type(4n+1)){
            margin-left: even-margin-between(4,22);
        }
    }
}

.info__content{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 8%;
}

.info__image{
    width: 20%;
    margin-right: 8%;

}

.info__text{
    @include fluid-font(s);
    font-weight: bold;
    color: $info-item-text-color;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease;
}