.pagination{
    width: 100%;
    @include linear-interpolation-chain(font-size,$pagination-font-sizes);
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.pagination__item{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $pagination-color;
    width: 2em;
    height: 2em;
    transition-property: background-color,color;
    transition-duration: 500ms;
    @include border-radius(rem($pagination-border-radius));
    &:not(:last-child){
        margin-right: 0.5em;
    }

    &--active:not(.pagination__item--blank),&:not(.pagination__item--blank):hover{
        color: $pagination-active-color;
        background-color: $pagination-active-background-color;
    }

    &--blank{
        flex-shrink: 1;
        cursor: default;
    }
}