.photogallery{
    margin-bottom: rem(30);
    @include fluid-font(s);
    @at-root .widget__item &{
        margin-bottom: 0;
    }
}

.photogallery__container{
    width: 100%;
    display: block;
    overflow: hidden;
}

.photogallery__scrollarea{
    display: inline-block;
    width: auto;
    white-space: nowrap;
}

.photogallery__name{
    color: $color-terciary;
    font-size: 1.25em;
}
.photogallery__item{
    display: inline-block;
    width: 10em;
    background-color: $color-terciary;
    vertical-align: middle;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    &:not(:last-child){
        margin-right: 1em;
    }
}