.svg__path{
    @at-root .svg--mail &{
        fill: $header-top-color;
    }

    @at-root .svg--search &{
        fill: $header-top-color;
    }

    @at-root .svg--search.svg--invert &{
        fill: $header-top-background-color;
    }

    @at-root .svg--hamburger &{
        fill: $color-terciary;
    }

}



.svg--book{
    .svg__path{
        fill: $header-top-color;
        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }

    &.info__svg .svg__path{
        fill: $info-item-svg-color;
        @at-root .info__item:hover &{
            fill: $info-item-svg-hover-color;
        }
    }
}

.svg--download{
    .svg__path{
        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }
    &.info__svg .svg__path{
        fill: $info-item-svg-color;
        @at-root .info__item:hover &{
            fill: $info-item-svg-hover-color;
        }
    }
}

.svg--canteen{
    .svg__path{
        fill: $header-top-color;
        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }

    &.info__svg .svg__path{
        fill: $info-item-svg-color;
        @at-root .info__item:hover &{
            fill: $info-item-svg-hover-color;
        }
    }
}


.svg--bell{
    .svg__path{
        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }
    &.info__svg .svg__path{
        fill: $info-item-svg-color;
        @at-root .info__item:hover &{
            fill: $info-item-svg-hover-color;
        }
    }
}

.svg--note{
    .svg__path{
        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }
    &.info__svg .svg__path{
        fill: $info-item-svg-color;
        @at-root .info__item:hover &{
            fill: $info-item-svg-hover-color;
        }
    }
}

.svg--swimming{
    .svg__path{
        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }
    &.info__svg .svg__path{
        fill: $info-item-svg-color;
        @at-root .info__item:hover &{
            fill: $info-item-svg-hover-color;
        }
    }
}

.svg--schoolclub{
    .svg__path{
        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }
    &.info__svg .svg__path{
        fill: $info-item-svg-color;
        @at-root .info__item:hover &{
            fill: $info-item-svg-hover-color;
        }
    }
}

.svg--heart{
    .svg__path{
        transition-property: fill;
        transition-duration: 500ms;
        transition-timing-function: ease;
    }
    &.info__svg .svg__path{
        fill: $info-item-svg-color;
        @at-root .info__item:hover &{
            fill: $info-item-svg-hover-color;
        }
    }
}

.svg__circle{
    @at-root .svg--search &{
        fill: $header-top-background-color;
    }
}

.svg--logo{ 
    .svg__path--text{
        fill: #66596C;
    }

    @at-root &.footer__logo {
        .svg__path--text{
            fill: $color-secondary;
        }

    }
    .svg__path--1{
        fill:#0CACD6;
    }
    .svg__path--2{
        fill:#95829C;
    }
    .svg__path--3{
        fill:#ECDB00;
    }
    .svg__path--4{
        fill:#7EBA28;
    }
}

.svg--arrowdown{
    fill: $desktop-menu-item-color;
    &.news__button__svg{
        fill: $news-button-color;
    }
}

.svg--arrowup{
    fill: $desktop-menu-item-color;
    &.news__button__svg{
        fill: $news-button-color;
    }
}

